#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  margin: 10px;
}

img {
  height: 110px;
  width: 80px;
}

.winner {
  border: solid white;
}

.gamediv {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}